body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    background-color: rgb(122, 122, 122);
    /* background-image: url("../imgs/2.png"); */
    /* background-size: cover;
    background-repeat: no-repeat; */
}
/* 
#lab-layout {
    border: 0.2px solid rgba(0, 0, 0, 0.404);
} */

#reportar {
    display: flex;
    align-items: center;
    width: fit-content;
}

#reportar p {
    font-size: 120%;
}

input, select {
    font-size: 100%
}

li{
    display: inline-block;
}

.conteudo {
    height: 504px;
    margin: 1% auto;
    padding-bottom: 20px;
    border: 2px solid black;
    width: 80%;
    color: white;
    background: rgba(34, 34, 34, 0.808);
    border-radius: 5px;
}

.left {
    font-size: smaller;
    display: flex;
    color: black;
    height: 500px;
    background-color: white;
    width: 50%;
    image-resolution: inherit;
}

.left h2 {
    font-size: 1.3rem;
}

.right {
    background-image: url('../imgs/2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    /* z-index: 1; */
    width: 50%;
    float: right;
    margin-top: -500px;
}

.right img {
    height: 60%;
    width: 60%;
    margin: 87px 0px;
}

.right h1 {
    margin-top: 80px;
}

h1 {
    margin-top: 0%;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    border-bottom: 2px solid black;
}

.pendente {
    text-align: center;
}

.ordem-servico {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    position: inherit;
    text-align: start;
    /* background-color: lightgray; */
    background: rgba(0, 0, 0, 0.2);
}

.titulo-os {
    width: fit-content;
    /*border: 2px solid #888888;*/
    border-radius: 4px;
    background-color: none /*#888888*/;
    font-weight: 600;
}

.ordem-servico ul li {
    display: block;
}

.resolvido {
    background: rgba(0, 0, 0, 0.4);
}

.resolvido li{
    text-decoration: line-through;
}

.novo-usuario {
    margin: auto;
    width: 40%;
}

.form-login {
    text-align: center;
}
