body {
    text-align: center;
    font-family: 'Inter','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    background-image: url(../imgs/fundobranco.jpg);
}

.dropbtn {
    border: none;
    border-radius: 2px;
    width: 200%;
    text-align: start;
}

.dropbtn:hover {
    border-radius: 4px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    width: 200%;
    text-align: start;
    display: none;
    position: absolute;
    background-color: rgba(34, 34, 34, 0.808);
    overflow: auto;
    box-shadow: 0px 8px 16px rgba(34, 34, 34, 0.808);
}

.dropdown:hover .dropdownContent {
    display: block;
    border-radius: 4px;
}

.dropdownContent a {
    color: white;
    text-decoration: none;
    display:block;
    padding: 10px 16px;
}

.dropdownContent a:hover {
    background-color: rgb(47, 47, 47);
}

/* 
#lab-layout {
    border: 0.2px solid rgba(0, 0, 0, 0.404);
} */

.home {
    display: block;
    margin: auto;
}

/* responsive font sizes: */
h1 {
    text-align: center;
    font-size: 2.5vw;
    margin-top: 0%;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;

}

h2 {
    font-size: 2vw;
}

h3 {
    font-size: 1.8vw;
}

p {
    font-size: 1.4vw;
}

#reportar {
    text-align: start;
    display: flex;
    align-items: center;
    width: fit-content;
}

.mesa {
    height: 80px;
}

input, select {
    font-size: 100%
}

li{
    display: inline-block;
}

.conteudo {
    display: flex;
    
    height: 84vh;
    width: 84%;

    margin: 1% auto;
    
    color: white;
    background: rgba(34, 34, 34, 0.808);
    
    border: 2px solid black;
    border-radius: 8px;
}

.left {
    /* font-size: smaller; */
    display: flex;
    color: black;
    background-color: white;
    width: 50%;
    image-resolution: inherit;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    overflow: scroll;
}

.left h1 {
    background-color: black;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../imgs/2.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    animation: change 10s infinite ease-in-out;
}

.right img {

    width: 90%;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
}

#logo {
    width: 60%;
}

.home img{
    width: 40%;
    margin-top: -90px;
    margin: 40px;
}

.right h1 {
    margin-top: 80px;
}

.pendente {
    text-align: center;
    display: flex;
    align-items: center;
}

.pendente li {
    margin: 0px;
    display: flex;
    text-align: left;

}

.ordem-servico {
    display: inline-block;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    position: inherit;
    text-align: center;
    background: white;
    height: 100px;
    
}

.botao-os {
    background-color: gray;
    width: 130px;
    height: 65px;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    margin-right: 80px;
    background: #2F3020;
    border: 2px solid #000000;
    border-radius: 20px;
    color: white;
    
    }

.botao-os li {
text-align: center;
border-color: black;


}

.detalhes-botao {
    text-align: center;
    margin-top: 10px;
    width: 160px; 
    border-radius: 20px; 
    background-color: white; 
    text-decoration-color: black 
}

.resolvido-botao {
    text-align: center;
    margin-top: 10px;
    width: 300px; 
    border-radius: 20px; 
    background-color: white; 
    text-decoration-color: black   
}




.titulo-os {
    width: fit-content;
    /*border: 2px solid #888888;*/
    border-radius: 4px;
    background-color: none /*#888888*/;
    font-weight: 600;
}

.ordem-servico ul li {
    display: inline-block;
    text-decoration: white;
    
}

.detalhes-os {
    color: white;
    border-radius: 4px;
}

.resolvido {
    background: rgba(0, 0, 0, 0.4);
}

.resolvido li{
    text-decoration: line-through;
}

.sugestoes {
    text-align: center;
    height: fit-content;
}

.novo-usuario {
    margin: auto;
    width: 40%;
}

.form-login {
    text-align: center;
}

.btn-home{
    background-color: black;
    width: 90%;
    border-radius: 0%;
    border: black;
}

.btn-home:hover{
    background-color: grey;
}

.os-resolvida {
    background-color: white;
    text-decoration: line-through;
}


.specs {
    margin: auto;
    margin-bottom: 0px;
    width: 96%;
    color: black;
    background-color: white;
    text-align: center;
    border-radius: 8px;
}

.specs a {
    width: 100%;
    color: black;

}

.specs p {
    font-size: 1.2rem;
}

.detalhes-div {
    display: none;
}

#pDetalhes ul li {
    display: block;
    text-align: start;
}

@keyframes change{
    0% {
        background-image: url('../imgs/1.png');
    }
    25% {
        background-image: url('../imgs/2.png');
    }
    50% {
        background-image: url('../imgs/3.png');
    }
    75% {
        background-image: url('../imgs/4.png');
    }
    100% {
        background-image: url('../imgs/1.png');
    }
}