<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous"
  />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% if title%}
    <title>{{ title }}</title>
    {% else %}
    <title>BIOS - Fatec</title>
    {% endif %}
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <div class="navbar-nav">
            <a class="nav-item nav-link" id="home" href="https://github.com/m-u-l-a-s/BIOS" target="_blank">
              <img src="{{ url_for('static', filename='imgs/logo_mulas.png') }}" alt="" width="30px">
            </a>
            <a class ="nav-item nav-link" id="inicio" href="/">Início</a>
             <!-- <span style="color: gray; margin: auto;"> _ </span> -->
            <div class="dropdown">
              <button class="nav-item nav-link dropbtn bg-dark"><span>Serviços &#160 </span></button>
              <div class="dropdownContent">
            <a href="reportar">Reportar um Problema</a>
            <!-- <span style="color: gray; margin: auto;"> _ </span> -->
            <a href="consulta">Consultar</a>
            <!-- <span style="color: gray; margin: auto;"><></span> -->
            
            {% if user %}
            <a href="edition">Editar laboratórios</a>
            {% endif %}
            <!-- <span style="color: gray; margin: auto;"><></span> -->
            
            <a href="contato">Contato</a>
            <!-- <span style="color: gray; margin: auto;"><></span> -->
            <a href="login">Login</a>

            <!-- <span style="color: gray; margin: auto;"><></span> -->
            <!-- <a class="nav-item nav-link" id="signUp" href="sign-up">Sign Up</a> -->
            <a href="/">Logout</a>
                </div>
            </div>
          </div>
        </div>
      </nav>


      {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %} {% if category ==
        'error' %}
        <div class="alert alert-danger alter-dismissable fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
          {{ message }}
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}

<div class="conteudo">
  
  {% block content %}         {% endblock %}

</div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
</body>
</html>