{% extends "base.html" %}

{% block title %} BIOS - Consultar {% endblock %}

{% block content %}

<div class="left" style="display: block">
    <div class="pendentes" id="pendentes">
        <h1>Problemas Reportados:</h1>
    </div>

    <div class="resolvidos detalhes-os" id="resolvidos">
        {% for i in ar %}
            <div class="ordem-servico">
                <ul class="pendente" style="text-align: start;">
                    <li>Ordem de Serviço #{{ ar.index(i) + 1 }} </li> 
                    <li>Laboratório: {{ i[0] }} </li>
                    <li>Máquina: {{ i[1] }} </li>
                    <li>Problema: {{ i[2] }} </li>
                    <li>Reportado em:</li>
                    <li>Status: {{ i[4] }} </li>
                    <li>
                        <button type="button" class="btn btn-primary">Ver detalhes</button>
                        {% if user.admin %}
                        <button type="button" class="btn btn-secondary">Marcar como resolvido</button>
                        {% endif %}
                    </li>
                </ul>
            </div>
        {% endfor %}
    </div>   

</div>    


<div class="right" style="display: block;">
    <h1 style="margin: 0px;">Detalhes:</h1>
    {% for i in ar %}

        <div class="detalhes-os" style="width: 90%; margin: auto;">
            <p style="margin: 10px; font-size: 1.4em;"> {{ i[3] }}</p>
        </div>
    {% endfor %}
        <div class="specs">
            <p>
   <strong>
       ESPECIFICAÇÕES DAS MÁQUINAS:
   </strong>             

<br>
Modelo: HP ProDesk 400 G4 SFF<br>
Processador: Intel(R) Core(TM) i5-7500 CPU @ 3.40GHz   3.41 GHz<br>
RAM instalada: 8,00 GB<br>
ID do dispositivo: 9C41604B-5B4C-4034-9A23-9585620597F8<br>
ID do produto: 00329-00000-00003-AA870<br>
Sistema operacional de 64 bits, processador baseado em x64<br>
<strong>
    ESPECIFICAÇÕES DO WINDOWS
</strong>
<br>
Windows 10 Enterprise<br>
Versão: 21H2<br>
Compilação do SO: 19044.1645<br>
Windows Feature Experience Pack 120.2212.4170.0<br>
<strong>
    ESPECIFICAÇÕES DO MONITOR
</strong>
<br>
Monitor AOC modelo E2023PWD<br>
Entrada utilizada: VGA<br>
Tamanho do painel: 19,5" Widescreen<br>
Resolução máxima: 1600 x 900 @ 60 Hz (HD)<br>
<br>
<strong>
    APLICATIVOS
</strong>
<br>
-3D Builder<br>
-Adobe Acrobat Reader DC-Português<br>
-Adobe Flash Player 32 NPAPI<br>
-Alarmes e Relógio<br>
-Android Studio<br>
-Audio Controls<br>
-Câmera<br>
-Calculadora<br>
-Captura e Esboço<br>
-Code Writer<br>
-Fotos<br>
-Google Chrome<br>
-Google Earth Pro<br>
-Gravador de Voz<br>
-Java SE Development Kit 8 Update 201<br>
-Java 8 Update 201<br>
-Mapas<br>
-Microsoft Edge<br>
-Microsoft Office Professional Plus 2016<br>
-Microsoft Visio Professional 2016<br>
-Mozilla Firefox (x86 pt-BR)<br>
-MySQL Server 5.7<br>
-NetBeans IDE 8.2<br>
-Oracle Database 11g Express Edition<br>
-Oracle VM VirtualBox 5.2.26<br>
-Paint 3D<br>
-Phyton 3.7.3 (32 bit)<br>
-VLC media player<br>
-WinRAR 5.50 (64 bit)<br>
-Zelio Soft 2 v4.6.0<br>
-Zotero<br>


            </p>
        </div>
</div>
  

<script src="{{ url_for ('static', filename='scripts/main.js') }}"></script>

{% endblock %}