{% extends "base.html" %}

{% block title %} BIOS - Consultar {% endblock %}

{% block content %}

<div class="left" style="display: block">
    <div class="pendentes" id="pendentes">
        <h1>Problemas Reportados:</h1>
    </div>

    <div class="resolvidos detalhes-os" id="resolvidos"></div>   

</div>    


<div class="right">

    <div class="detalhes-os">
        <h3>Detalhes da Ordem de Serviço:</h3>
    </div>

</div>
  

<script src="{{ url_for ('static', filename='scripts/main.js') }}"></script>

{% endblock %}