{% extends "base.html" %}

{% block title %} BIOS - Contato{% endblock %}

{% block content %}

    <h1>Equipe M.U.L.A.S.:</h1>    
    <h2>Manutenção Universitária de Laboratórios</h2>
    
    <p>Criado em Agosto de 2022</p>
    <h3>Equipe:</h3>
    <p>Alexandre Jonas de Souza Fonseca</p>
    <p>Alita Willians da Silva Amancio</p>
    <p>Amanda Mendes Caldeira</p>
    <p>Jean Cesar de Oliveira Rodrigues</p>
    <p>Jonas Alves Bueno</p>
    <p>Renan Graciano Faria</p>
    <p>Thomas Januzzi Lewindon</p>

    <h1>BIOS : Fatec</h1>
    <p>Plataforma de solução de problemas dos laboratórios de informática da Faculdade de Tecnologia de São Paulo - Campus São José dos Campos.</p>

    <h2>Entre em contato:</h2>
    <h3>Telefone: (66) 6666-6666</h3>
    <h3>mulasnerds@fatec.sp.gov.br</h3>


{% endblock %}