{% extends "base.html" %}

{% block title %} BIOS - Contato{% endblock %}

{% block content %}

<div class="left" style="display: block !important;">

    <h1 style="margin-top: 0px;">BIOS - Fatec</h1>
    <!-- <p>Plataforma de solução de problemas dos laboratórios de informática da Faculdade de Tecnologia de São Paulo - Campus São José dos Campos.</p> -->

    <h3>Entre em contato:</h3>
    <p>
    mulas.suporte@gmail.com<br>
    </p>    

    <h1>Equipe M.U.L.A.S.</h1>    
    <p> <strong>Manutenção Universitária de Laboratórios </strong></p>
    
    <p>Criado em Agosto de 2022</p>
    <p>Equipe:</p>
    <p>
        Alexandre Jonas de Souza Fonseca <br>
        Alita Willians da Silva Amancio <br>
        Amanda Mendes Caldeira <br>
        Jean Cesar de Oliveira Rodrigues <br>
        Jonas Alves Bueno <br>
        Renan Graciano Faria <br>
        Thomas Januzzi Lewindon <br>
    </p>
</div>


<div class="right" >
    <img src="../static/imgs/logo_mulas.png" id="logo">
</div>

{% endblock %}