{% extends "base.html" %}

{% block title %} BIOS - Reportar um Problema {% endblock %}

{% block content %}


<div class="left">
    <div class="home">
        <img src="../static/imgs/logo_mulas.png">
        <!--<h1>BIOS - Fatec</h1>-->
        <div>
            <a href="reportar">
                <button  type="button" class="btn btn-primary btn-lg btn-home" style="margin-bottom: -90px">Sou aluno</button>
            </a>
            <br><br>
            <a href="login">
                <button  type="button" class="btn btn-secondary btn-lg btn-home" style="margin-bottom: -100px">Sou Técnico/Professor</button>
            </a>
        </div>
        
    </div>
</div>

<div class="right">
    
</div>

{% endblock %}