{% extends "base.html" %}

{% block title %} BIOS - Reportar um Problema {% endblock %}

{% block content %}


<div class="left">
    <form action="{{ url_for('auth.login')}}" id="login" method="post" class="novo-usuario">
        <h3 align="center" class="form-group">Fazer login</h3>
    
            <div class="form-group">
                <label for="username"></label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Nome de usuário:">
            </div>
            
            <div class="form-group">
                <label for="password1"></label>
                <input type="password" class="form-control" id="password" name="password" placeholder="********">
            </div>
            <button type="submit" class="btn btn-secondary btn-lg btn-home">Entrar!</button>
    
    </form>
</div>

<div class="right">
    <img src="../static/imgs/logo_mulas.png" id="logo">
</div>

{% endblock %}