{% extends "base.html" %}

{% block title %} BIOS - Reportar um Problema {% endblock %}

{% block content %}

<!-- <h1>Reporte um problema abaixo</h1> -->

<div class="left" style="display: block; overflow: hidden;">
    <h1>Reporte um problema abaixo:</h1>
    <br><br>
    <!-- <form action="{{ url_for('auth.img')}}" method="post" id="img"></form> -->
    <ul id="reportar" style="margin: auto; text-align: center;">
        <li>
            <form action="{{ url_for('auth.gfg')}}" method="post" id="gfg">
                <div>
                    <p>
                        <select id="lab" name="lab" style="width: 100%;">

                            <option value="{{lab}}" selected >{{lab}}</option>

                            <optgroup label="Terceiro Andar">

                                <option value="301"> 301 </option>
                                <option value="302"> 302 </option>
                                <option value="303"> 303 </option>
                                <option value="304"> 304 </option>
                                <option value="305"> 305 </option>
                                <option value="306"> 306 </option>
                            </optgroup>

                            <optgroup label="Quarto Andar">
                                <option value="401"> 401 </option>
                                <option value="402"> 402 </option>
                                <option value="403"> 403 </option>
                                <option value="404"> 404 </option>
                                <option value="405"> 405 </option>
                                <option value="406"> 406 </option>
                            </optgroup>
                        </select>

                    </p>
                    <!-- <input type="submit" value="Selecionar" class="btn btn-secondary" id="btn_img"  hidden> -->
                </div>



                <p>
                    <input type="text" name="maq" id="maq" hidden >
                    <!--<select id="maq" name="maq" style="width: 100%;">
                        <option value="" selected >Máquina</option>
                        <option value="01"> 01 </option>
                        <option value="02"> 02 </option>
                        <option value="03"> 03 </option>
                        <option value="04"> 04 </option>
                        <option value="05"> 05 </option>
                        <option value="06"> 06 </option>
                        <option value="07"> 07 </option>
                        <option value="08"> 08 </option>
                        <option value="09"> 09 </option>
                        <option value="10"> 10 </option>
                        <option value="11"> 11 </option>
                        <option value="12"> 12 </option>
                        <option value="13"> 13 </option>
                        <option value="14"> 14 </option>
                        <option value="15"> 15 </option>
                        <option value="16"> 16 </option>
                        <option value="17"> 17 </option>
                        <option value="18"> 18 </option>
                        <option value="19"> 19 </option>
                        <option value="20"> 20 </option>
                    </select>-->
                </p>

                <p id="labelmaq">Máquina Selecionada:</p>

                <p>
                    <!--<input type="text" name="report" id="prob">-->
                    <select id="prob" name="prob" style="width: 100%;">
                        <option value="" selected disabled> Categoria do Problema </option>
                        <option value="Monitor"> Monitor </option>
                        <option value="Mouse"> Mouse </option>
                        <option value="Teclado"> Teclado </option>
                        <option value="Máquina não liga"> Máquina não liga </option>
                        <option value="Internet"> Internet </option>
                        <option value="Máquina muito lenta"> Máquina muito lenta </option>
                        <option value="Programas / Software"> Programas / Software </option>
                        <option value="Outros"> Outros </option>
                    </select>
                </p>
                <br>
                <textarea name="detalhes-os" id="detalhes-os" cols="25" rows="2"
                    placeholder="Nos dê mais alguns detalhes!"></textarea>
            </form>
            <input type="submit" value="Enviar" id="submit" class="btn btn-secondary btn-lg btn-home" form="gfg">
        </li>
    </ul>
</div>


<div class="right" style="flex-direction: column;">

    <div>
        <h2>Clique em uma máquina!</h2>
    </div>


    <div class="layout">

        <div class="mesa">
            <div class="numtag maq normal" id="Prof">
                <span id="numtag"> <strong> Prof </strong></span>
            </div>
            <!--<img src="../static/imgs/maq.png" alt="" class="maq">-->
        </div>
        
        <div class="empty"></div>
        
        
        
        {% for i in range(0, linhas) %}
        <div class="mesa">
            {% for j in range(0, cols) %}


            {% if i % 2 == 0 %}
                        
            {% set index = (cols - j) + ((i+1)*cols) %}
                        
            {% else %}
                        
            {% set index = (cols - j) + ((i-1)*cols) %}
                       
            {% endif %} 

            
            {% set class = "numtag maq normal" %}
            
            {% if index in mntc %}
                        
            {% set class = "maq mntc" %}
                        
            {% elif index in reportados %}
                        
            {% set class = "numtag maq problema" %}
                       
            {% endif %}   




            <div class= "{{class}}" id="{{index}}">
                <span id="{{index}}">
                    <strong>
    
                        {{index}}

                    </strong>
                </span>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        

    </div>


</div>

<script src="{{ url_for ('static', filename='scripts/main.js') }}"></script>

<script>

    let labs = document.getElementById("lab")    

    labs.addEventListener("change", function () {
        let lab = parseInt(labs.value);
        let btn = document.getElementById("submit");
        // btn.click();
    })

    const pcs = document.querySelectorAll("div.numtag");
    pcs.forEach(pc => {
        addEventListener("click", pickNumber)
    });

    function pickNumber(){
        obj = window.event.target;
        if (obj.classList.contains("maq")) {
            if (!obj.classList.contains("mntc")) {
                console.log("IM HERE")
                document.getElementById("maq").value = obj.id;
                document.getElementById("labelmaq").textContent = "Máquina Selecionada: " + obj.id
            } 
        }
    }

</script>

<style>

    .layout {
        margin-top: 1rem;
        width: 90%;
        align-items: center;
        display: grid;
        /* justify-content: right; */
        color: black;
        background: none;
        border: none;
        border-radius: none;
        display: grid;
        grid-template:
            'a x' minmax(40px, 100%)
            'b b' minmax(40px, 100%)
            'c c' minmax(40px, 100%)
            'd d' minmax(40px, 100%) 
            'f f' minmax(40px, 100%) /
            minmax(0, 1fr) minmax(0, 1fr);
        gap: 1rem;
    }

    .mesa {
        display: flex;
        justify-content: space-evenly;
        transition: transform .4s;
        background-color: white;
        border: 2px solid black;
        border-radius: 4px;
        gap: 0.2rem;
        align-items: center;
    }

    .normal{
        background-image: url("../static/imgs/maq.png");
        background-size: 100%;
    }

    .problema {
        background-image: url("../static/imgs/maq_def.png");
    }

    .mntc{
        background-image: url("../static/imgs/pc_vazio.png");
    }
    .maq {        
        background-repeat: no-repeat;
        background-size: contain;
        width: 2.5rem;
        height: 3rem;
        justify-content: space-evenly;
        transition: transform .2s;
    }

    .normal:hover, .problema:hover {
        cursor: pointer;
        transform: scale(1.2);
    } 

</style>

<script>

    const problemas = document.querySelector("#prob")
    const div = document.querySelector(".left")
    let p = document.createElement("p")
    
    const container = document.createElement("div")
    container.classList.add("sugestoes")
    
    container.appendChild(p)
    div.appendChild(container)

    problemas.addEventListener("change", sugerir)

    function sugerir() {
        if (problemas.value == "Monitor") {
            displayMessage("⚠SUGESTÃO: Se o LED do monitor de vídeo não estiver ligado, verifique se o cabo de alimentação do monitor de vídeo está instalado corretamente. Conecte de maneira firme, caso não esteja.")
        }
        if (problemas.value == "Mouse") {
            displayMessage("⚠SUGESTÃO: Tente desconectar e conectar novamente as entradas dos periféricos. Caso não funcione, reinicie o computador.")
        }
        if (problemas.value == "Teclado") {
            displayMessage("⚠SUGESTÃO: Tente desconectar e conectar novamente as entradas dos periféricos. Caso não funcione, reinicie o computador.")
        }
        if (problemas.value == "Máquina não liga") {
            displayMessage("⚠SUGESTÃO: Tente conectar a máquina à outra tomada. Desconecte todos os cabos externos do computador, mantendo apenas a fonte de alimentação e o cabo de monitor de vídeo. Verifique se o cabo de alimentação do monitor de vídeo está firme e instalado corretamente.")
        }
        if (problemas.value == "Internet") {
            displayMessage("⚠SUGESTÃO: Verifique se a senha da Internet está correta. Se isso já tiver sido feito, observe se todas as entradas estão conectadas corretamente no modem.")
        }
        if (problemas.value == "Máquina muito lenta") {
            displayMessage("⚠SUGESTÃO: Verifique se o armazanamento interno já alcançou sua capacidade máxima. Atualize e rode o antivírus.")
        }
        if (problemas.value == "Programas / Software") {
            displayMessage("⚠SUGESTÃO: Tente atualizar o programa para uma versão mais recente.")
        }
        if (problemas.value == "Outros") {
            displayMessage("")
        }
    }

    function displayMessage(msg) {
        p.textContent = msg
    }

</script>

{% endblock %}