{% extends "base.html" %}

{% block title %} BIOS - Reportar um Problema {% endblock %}

{% block content %}

<!-- <h1>Reporte um problema abaixo</h1> -->

<div class="left" style="display: block;">
    <h1 style="text-align: center;">Reporte um problema abaixo:</h1>
    <br><br>
    <!-- <form action="{{ url_for('auth.img')}}" method="post" id="img"></form> -->
    <ul id="reportar" style="margin: auto; text-align: center;">
        <li>
            <form action="{{ url_for('auth.gfg')}}" method="post" id="gfg">
                <div>
                    <p>
                        <select id="lab" name="lab" style="width: 100%;">

                            <option value="" selected disabled>Laboratório</option>

                            <optgroup label="Terceiro Andar">

                                <option value="301"> 301 </option>
                                <option value="302"> 302 </option>
                                <option value="303"> 303 </option>
                                <option value="304"> 304 </option>
                                <option value="305"> 305 </option>
                                <option value="306"> 306 </option>
                            </optgroup>

                            <optgroup label="Quarto Andar">
                                <option value="401"> 401 </option>
                                <option value="402"> 402 </option>
                                <option value="403"> 403 </option>
                                <option value="404"> 404 </option>
                                <option value="405"> 405 </option>
                                <option value="406"> 406 </option>
                            </optgroup>
                        </select>

                    </p>
                    <!-- <input type="submit" value="Selecionar" class="btn btn-secondary" id="btn_img"  hidden> -->
                </div>



                <p>
                    <!--<input type="text" name="report" id="maq">-->
                    <select id="maq" name="maq" style="width: 100%;">
                        <option value="" selected disabled>Máquina</option>
                        <option value="01"> 01 </option>
                        <option value="02"> 02 </option>
                        <option value="03"> 03 </option>
                        <option value="04"> 04 </option>
                        <option value="05"> 05 </option>
                        <option value="06"> 06 </option>
                        <option value="07"> 07 </option>
                        <option value="08"> 08 </option>
                        <option value="09"> 09 </option>
                        <option value="10"> 10 </option>
                        <option value="11"> 11 </option>
                        <option value="12"> 12 </option>
                        <option value="13"> 13 </option>
                        <option value="14"> 14 </option>
                        <option value="15"> 15 </option>
                        <option value="16"> 16 </option>
                        <option value="17"> 17 </option>
                        <option value="18"> 18 </option>
                        <option value="19"> 19 </option>
                        <option value="20"> 20 </option>
                    </select>
                </p>

                <p>
                    <!--<input type="text" name="report" id="prob">-->
                    <select id="prob" name="prob" style="width: 100%;">
                        <option value="" selected disabled> Categoria do Problema </option>
                        <option value="Monitor"> Monitor </option>
                        <option value="Mouse"> Mouse </option>
                        <option value="Teclado"> Teclado </option>
                        <option value="Máquina não liga"> Máquina não liga </option>
                        <option value="Internet"> Internet </option>
                        <option value="Máquina muito lenta"> Máquina muito lenta </option>
                        <option value="Programas / Software"> Programas / Software </option>
                        <option value="Outros"> Outros </option>
                    </select>
                </p>
                <br>
                <textarea name="detalhes-os" id="detalhes-os" cols="25" rows="2"
                    placeholder="Nos dê mais alguns detalhes!"></textarea>
            </form>
            <br>
            <input type="submit" value="Enviar" id="submit" class="btn btn-secondary" form="gfg">
        </li>
    </ul>
</div>


<div class="right">


    <div class="layout">

        <div class="mesa">
            <img src="../static/imgs/maq.png" alt="" class="maq">
        </div>

        <div class="empty"></div>


        {% for i in range(0, linhas) %}
        <div class="mesa">
            {% for j in range(0, cols) %}

            {% if i % 2 == 0 %}

            <span>{{(cols - j) + ((i+1)*cols)}}</span>

            {% else %}

            <span>{{(cols - j) + ((i-1)*cols)}}</span>

            {% endif %}



            {% if ( (cols - j) + ((i+1)*cols) or (cols - j) + ((i-1)*cols)) in mntc %}

            <img src="../static/imgs/pc_vazio.png" alt="" class="maq">

            {% elif ( (cols - j) + ((i+1)*cols) or (cols - j) + ((i-1)*cols)) in reportados %}

            <img src="../static/imgs/maq_def.png" alt="" class="maq">

            {% else %}

            <img src="../static/imgs/maq.png" alt="" class="maq">
            {% endif %}




            {% endfor %}
        </div>
        {% endfor %}

    </div>


</div>

<script src="{{ url_for ('static', filename='scripts/main.js') }}"></script>

<script>

    let labs = document.getElementById("lab")
    let img = document.getElementById("logo")

    labs.addEventListener("change", function () {
        let lab = parseInt(labs.value)
        console.log(lab)
        if (lab > 300 && lab < 400) {
            img.src = "../static/imgs/lab302.png"
            img.id = ""
        } else {
            img.src = "../static/imgs/lab402.png"
            img.id = ""
        }
    })



</script>

<style>
    .layout {
        margin-top: 200px;
        display: grid;
        justify-content: right;
        grid-template:
            'a x' minmax(60px, 100px) 'b b' minmax(60px, 100px) 'c c' minmax(60px, 100px) 'd d' minmax(60px, 100px) 'f f' minmax(60px, 100px) 'g g' minmax(60px, 100px) 'h h' minmax(60px, 100px) /
            minmax(0, 1fr) minmax(0, 1fr)
            /* grid-gap: 1rem; */
    }

    .mesa {
        display: flex;
        justify-content: space-evenly;
        background-color: white;
        border: 2px solid black;
        border-radius: 4px;
        margin: 2px;
        align-items: center;
    }

    /* .mesa-prof {
        grid-area: t;
    }
    .mesa-cima {
        grid-area: c;
    }
    .mesa-meio {
        grid-area: m;
    }
    .mesa-baixo {
        grid-area: b;
    } */
    .maq {
        width: 40% !important;
        /*justify-content: space-evenly !important;*/
        height: 40% !important;
        border: none !important;
        border-radius: 0px !important;
    }

    span {
        color: black !important;
        position: relative !important;
        text-align: center;
        left: 28px;
        bottom: 6px;
    }
</style>



{% endblock %}